html, body {
  font-family: "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

.yellow-theme {
  background-color: #ffeb3b;
  color: white; }

.white-theme {
  background-color: white; }

.light-blue-theme {
  background-color: #4fc3f7; }

.blue-theme {
  background-color: #03a9f4;
  color: white; }
  .blue-theme h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.5rem; }

.lime-green-theme {
  background-color: #7cb342;
  color: white; }
  .lime-green-theme h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.5rem; }

.orange-theme {
  background-color: #e65100;
  color: white; }

.light-orange-theme {
  background-color: #fb8c00 !important;
  color: white; }

table {
  margin-top: 1rem;
  width: 100%; }
  table thead tr th {
    margin: 0;
    border-bottom: 2px solid #e1e0e6;
    text-align: left;
    font-size: 0.7rem;
    font-weight: 300;
    color: #9b9b9b;
    padding: 0 0 0.25rem 0; }
  table thead tr .date {
    width: 20%; }
  table thead tr .bill {
    width: 60%; }
  table thead tr .amount {
    width: 20%; }
  table thead tr .description {
    width: 25%; }
  table thead tr .category {
    width: 25%; }
  table thead tr .taxable {
    width: 10%; }
  table tbody tr td {
    font-size: 0.75rem;
    font-weight: 300;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin: 0;
    border-bottom: 1px solid #e1e0e6; }
  table tbody tr td:nth-of-type(1) {
    color: #9b9b9b; }
  table tbody tr td:nth-of-type(2) {
    color: #2d3340; }
  table tbody tr td:nth-of-type(3) {
    color: #e51c23; }
  table tbody tr:last-child td {
    border-bottom: none; }

.lime-green {
  color: #7cb342; }

.mid-grey {
  color: #9b9b9b; }

.dark-grey {
  color: #2d3340; }

.pale-grey {
  color: #e1e0e6; }

.italic {
  font-style: italic; }

.xlarge-text {
  font-size: 2.5rem; }

.large-text {
  font-size: 1.25rem; }

.medium-text {
  font-size: 1rem; }

.medium-small-text {
  font-size: 0.83rem; }

.small-text {
  font-size: 0.75rem; }

.xsmall-text {
  font-size: 0.5rem; }

.thin {
  font-weight: 300; }

.right {
  float: right; }
